label {
  font-weight: bolder;
}

h1 {
   text-align: center;
}

.profile-image {
  max-height: 200px;
}

.card {
  border-top-right-radius: 0px;
}

#msgContainer {
  right:15px;
  z-index:1056; /* 1 z-index a mais que o z-index padrão de uma modal bootstrap */
}

[disabled]:hover {
  cursor: not-allowed;
}